@import url(https://fonts.googleapis.com/css?family=Montserrat);


html, body {
  overflow: hidden;
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 130vh;
  position: fixed;
  width: 100%;
  -webkit-transform: translateY(30vh);
          transform: translateY(30vh);
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}
.background:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.background:first-child {
  background-image: url("../images/joel-jasmin-forestbird-znoL1m6MD_k-unsplash.jpg");
  -webkit-transform: translateY(-15vh);
          transform: translateY(-15vh);
}
.background:first-child .content-wrapper {
  -webkit-transform: translateY(15vh);
          transform: translateY(15vh);
}
.background:nth-child(2) {
  background-image: url("../images/augustin-de-montesquiou-Vi9cHboZwss-unsplash.jpg");
}
.background:nth-child(3) {
  background-image: url("../images/daan-huttinga-iqLK5HdtRuM-unsplash.jpg");
}
.background:nth-child(4) {
    background-image: url(https://i.postimg.cc/W14vywqg/photo-1424746219973-8fe3bd07d8e3.jpg);
}

/* Set stacking context of slides */
.background:nth-child(1) {
  z-index: 4;
}

.background:nth-child(2) {
  z-index: 3;
}

.background:nth-child(3) {
  z-index: 2;
}

.background:nth-child(4) {
    z-index: 1;
}

.content-wrapper {
  height: 100vh;
  display: flex;
  /*justify-content: center;*/
  text-align: center;
  flex-flow: column nowrap;
  color: #fff;
  font-family: Poppins;
  text-transform: uppercase;
  -webkit-transform: translateY(40vh);
          transform: translateY(40vh);
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
}

.home-wrapper{
    justify-content: center;
}

.app-wrapper{
    background-color: rgba(50, 50, 50, 1);
    height: 100%;
}

.content-title {
  font-size: 12vh;
  line-height: 1.4;
}

.background.up-scroll {
  -webkit-transform: translate3d(0, -15vh, 0);
          transform: translate3d(0, -15vh, 0);
}
.background.up-scroll .content-wrapper {
  -webkit-transform: translateY(15vh);
          transform: translateY(15vh);
}
.background.up-scroll + .background {
  -webkit-transform: translate3d(0, 30vh, 0);
          transform: translate3d(0, 30vh, 0);
}
.background.up-scroll + .background .content-wrapper {
  -webkit-transform: translateY(30vh);
          transform: translateY(30vh);
}

.background.down-scroll {
  -webkit-transform: translate3d(0, -130vh, 0);
          transform: translate3d(0, -130vh, 0);
}
.background.down-scroll .content-wrapper {
  -webkit-transform: translateY(40vh);
          transform: translateY(40vh);
}
.background.down-scroll + .background:not(.down-scroll) {
  -webkit-transform: translate3d(0, -15vh, 0);
          transform: translate3d(0, -15vh, 0);
}
.background.down-scroll + .background:not(.down-scroll) .content-wrapper {
  -webkit-transform: translateY(15vh);
          transform: translateY(15vh);
}

#google-play{
    height: 50px;
    margin-right: 30px;
}

#ios-store{
    height: 50px;
    margin-left: 30px;
}

.scroll-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 1.2em;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
    color: rgba(255, 255, 255, .5);
    border-radius: 2em;
    border: solid 2px;
    transition: .4s;
    cursor: pointer;
}

.scroll-icon:hover {
    background-color: rgba(255, 255, 255, .5);
    color: #fff;
}

.scroll-icon::after {
    content: '';
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
    animation: scroll-icon 2.2s infinite cubic-bezier(0.65, 0.05, 0.36, 1);
}

@keyframes scroll-icon {
    0% { transform: translateY(-12px); opacity: 0; }
    30%, 70% { opacity: 1; }
    100% { transform: translateY(12px); opacity: 0; }
}

#flex_app_container{
    width: 100%;
    display: flex;
}

#flex_description_left{
    flex: auto;
}

#flex_description_left p{
    margin-top: 17.5vh;
    margin-left: 20vh;
}

#flex_point_left{
    flex: 0;
    margin-left: 6vh;
}

#mobile_container{
    flex: auto;
    margin-left: 6vh;
    margin-right: 6vh;
}

#flex_point_right{
    flex: 0;
    margin-right: 6vh;
}

#flex_description_right{
    flex: auto;
}

#flex_description_right p{
    margin-top: 37.5vh;
    margin-right: 20vh;
}

.flex_description_down{
    opacity: 0;
}

.flex_description_up{
    opacity: 0;
    -webkit-animation-name: opacity;  /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 2s;
    -webkit-animation-duration: 1s;  /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation-name: opacity;
    animation-delay: 2.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.mobile_container_up{
    opacity: 0;
    -webkit-animation-name: opacity;  /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 1s;  /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s;  /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation-name: opacity;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#mobile_container img{
    margin-top: 10vh;
    height: 60vh;
}

.mobile_container_down{
    opacity: 0;
}
.point_down{
    opacity: 0;
}

.point_up{
    opacity: 0;
    height: 1.5vh;
    width: 1.5vh;
    background-color: rgba(255, 255, 255, 1);
    /*border: solid #fff;*/
    border-radius: 50px;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    transition: 0.25s;
    -webkit-animation-name: opacity;  /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 2s;
    -webkit-animation-duration: 1s;  /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation-name: opacity;
    animation-delay: 2.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}



.point img{
    width: 1vh;
    height: 1vh;
    display: block;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    /*border: solid #fff;*/
    /*border-radius: 25px;*/
    /*background-color: #fff;*/
}

/*@-webkit-keyframes point_anim {*/
/*    0% {    background-color: rgba(255, 255, 255, 0);}*/
/*    40% {    background-color: rgba(255, 255, 255, 1);}*/
/*    41% {    background-color: rgba(255, 255, 255, 0);}*/
/*}*/
.pt-l{
    float: right;
    margin-top: 20vh;
}


.pt-r{
    float: left;
    margin-top: 40vh;

}

* {
    box-sizing: border-box;
}

.gallery_container{
    margin-top: 5vh ;
    margin-left: 20%;
    width: 60%;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

@-webkit-keyframes opacity {
    from {opacity: 0}
    to {opacity: 1}
}
@keyframes opacity {
    from {opacity: 0}
    to {opacity: 1}
}