@media screen and (max-width: 1100px){

    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        font-family: Poppins, serif;
    }

    #home-container {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("../images/build/background/joel-jasmin-forestbird-znoL1m6MD_k-unsplash.jpg");
        width: 100%;
        height: 100vh;
        text-align: center;
        flex-flow: column nowrap;
        color: #fff;
        text-transform: uppercase;

    }

    #home-logo img{
        margin-top: 1vh;
        height: 5vh;
        color: #00A676;
    }

    .content-title {
        font-size: 6vh;
        line-height: 1.4;
        font-weight: normal;
        margin: 0;
        padding-top: 20vh;
    }

    .content-subtitle{
        font-size: 2vh;
    }


    #home-container ul{
        /*display: flex;*/
        justify-content: center;
        margin-top: 5vh;
        padding: 0;
    }
    #home-container li{
        list-style: none;
    }

    #google-play{
        height: 5vh;
        /*margin-right: 30px;*/
        margin: auto;
    }

    #ios-store{
        height: 5vh;
        /*margin-left: 30px;*/
        margin: 2vh auto;
    }

    .scroll-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2em;
        width: 1.2em;
        margin-top: 20vh;
        margin-left: auto;
        margin-right: auto;
        font-size: 22px;
        color: rgba(255, 255, 255, .5);
        border-radius: 2em;
        border: solid 2px;
        transition: .4s;
        cursor: pointer;
    }

    .scroll-icon:hover {
        background-color: rgba(255, 255, 255, .5);
        color: #fff;
    }

    .scroll-icon::after {
        content: '';
        width: 5px;
        height: 5px;
        background-color: #fff;
        border-radius: 50%;
        animation: scroll-icon 2.2s infinite cubic-bezier(0.65, 0.05, 0.36, 1);
    }

    @keyframes scroll-icon {
        0% { transform: translateY(-12px); opacity: 0; }
        30%, 70% { opacity: 1; }
        100% { transform: translateY(12px); opacity: 0; }
    }

    /* qualities-container */

    #qualities-container{
        width: 100%;
        /*height: 50vh;*/
        padding: 100px 0;
    }

    #qualities-container-flex{
        width: 60%;
        height: 100%;
        margin-left: 20%;
    }

    .quality-container{
        display: flex; /* contexte sur le parent */
        flex-direction: column; /* direction d'affichage verticale */
        justify-content: center; /* alignement vertical */
        height: 100%;
        margin: auto;
        padding: 50px 0;
        text-align: center;
    }

    .quality-text{
        width: 90%;
        margin: 0 auto;
    }

    .quality-text h2{
        margin: 2% 0;
        font-weight: 300;
    }

    .quality-text p{
        margin: 0;
        color: #444444;
        font-size: 18pt;
    }

    .quality-box{
        display:inline-block;
        width: 97px;
        height: 97px;
        line-height: 97px;
        border: solid 3px #00A676;
        border-radius: 15px;
        margin: 0 auto;
    }

    .quality-box img{
        height: 35px;
        vertical-align:middle;
    }

    /*  how-its-work-container  */

    #how-its-work-container{
        width: 100%;
        height: 100vh;
        /*padding: 10vh 0;*/
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("../images/build/background/adrian-TtIs6E8JcHA-unsplash.jpg");
    }

    .black-filter-03{
        background-color: rgba(0, 0, 0, 0.3);
        height: 100%;
        text-align: center;
    }

    #how-its-work-container h1{
        padding-top: 10vh;
        font-weight: 400;
        font-size: 45pt;
        margin: auto;
        color: #fff;
    }
    #how-its-work-container span{
        color: #00A676;
    }

    #how-its-work-content{
        width: 80%;
        margin-left: 10%;
        margin-top: 20%;
        /*padding-bottom: 31vh;*/
    }

    #how-its-work-content li{
        list-style: none;
        display: flex;
        margin-top: 10%;
    }
    #how-its-work-content p{
        margin: 0;
        font-size: 20pt;
        color: #fff;
    }
    #how-its-work-content img{
        margin-top: 6px;
        margin-right: 10px;
        height: 14px;
    }

    /*  design-container  */

    #design-container{
        width: 100%;
        /*height: 100vh;*/
    }

    #design-title-container{
        /*width: 32%;*/
        padding-top: 10vh;
        color: #000;
        text-align: center;
    }

    #design-title-container h1{
        font-weight: 400;
        font-size: 45pt;
    }

    #design-content-container{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        /* optional */
        /*-webkit-box-align: start;*/
        /*-moz-box-align: start;*/
        /*-ms-flex-align: start;*/
        /*-webkit-align-items: flex-start;*/
        /*align-items: flex-start;*/
    }
    #design-content{
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    #design-content hr{
        border: 1px solid #00A676;
        border-radius: 5px;
    }

    .design-app{
        width: 60%;
        margin-left: 20%;
        text-align: center;
        font-size: 24pt;
    }

    #design-line-container{
        display: none;
    }

    #design-mobile-container{
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
        width: 80%;
        margin-left: 10%;
    }

    #design-mobile-container img{
        width: 100%;
        -webkit-box-shadow: 0px 4px 25px 10px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 4px 25px 10px rgba(0,0,0,0.2);
        box-shadow: 0px 4px 25px 10px rgba(0,0,0,0.2);
    }

    /* community-container */

    #community-container{
        width: 100%;
        /*height: 100vh;*/
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom left;
        background-image: url("../images/build/background/kristjan-kotar--h15p84GY5k-unsplash.jpg");
    }

    #community-title-container{
        padding-top: 10vh;
        padding-bottom: 10vh;
        width: 80%;
        margin-left: 10%;
        text-align: center;
        color: #fff;
    }

    #community-title-container h1{
        font-size: 45pt;
        font-weight: 400;
        margin: 0;
    }

    #home-galery-container-computer{
        display: none;
    }
    #home-galery-container-mobile{
        width: 100%;
        height: 1500px;
    }

    .swiper-container {
        width: 75vw;
        height: 75vw;
        border-radius: 5px;
    }

    .swiper-pagination-bullet{
        width: 20px !important;
        height: 20px !important;
        background-color: #00A676 !important;
    }

    .swiper-slide {

        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .home-slide-box-img{
        flex-shrink: 0;
        max-width: 150%;
        transition: 0.2s;
        /*min-height: 100%;*/
        /*width: 100%;*/
        /*max-width: 110%;*/
        /*max-height: 110%;*/
    }
    .home-slide-box-img:hover{
        max-width: 100%;
    }

    .home-galery-profil{
        display: flex;
        position: absolute;
        top: 8px;
        left: 16px;
    }
    .home-galery-profil-img{
        width: 55px;
        height: 55px;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .home-galery-profil-img img{
        max-height: 400%;
    }
    .home-galery-profil p{
        margin: auto 10px;
        font-size: 20pt;
        padding: 0;
        color: #000;
    }

    .home-galery-locating{
        display: flex;
        position: absolute;
        top: 68px;
        left: 16px;
    }
    .home-galery-locating-icon{
        width: 20px;
        /*height: 15px;*/
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .home-galery-locating-icon img{
        max-width: 100%;
    }
    .home-galery-locating p{
        margin: 0 10px;
        padding: 0;
        font-size: 20pt;
        color: #fff;
    }

    /*  footer-container  */

    footer{
        width: 100%;
        text-align: center;
    }

    footer h3{
        width: 80%;
        margin-left: 10%;
        font-weight: 300;
        font-size: 14pt;
    }

    #footer-flex-container{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .footer-sep-container{
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .footer-sep{
        width: 80%;
        margin-left: 10%;
        height: 2px;
        border-radius: 5px;
        background: #00A676;
    }
    #footer-logo{
        -webkit-box-ordinal-group: 5;
        -moz-box-ordinal-group: 5;
        -ms-flex-order: 5;
        -webkit-order: 5;
        order: 5;
        display: flex;
        flex-direction: column; /* direction d'affichage verticale */
        justify-content: center; /* alignement vertical */
        width: 80%;
        height: 100%;
        margin-left: 10%;
        padding: 5% 0;
    }
    #logo-cci-txt-black{
        height: 300px;
        margin: auto;
    }
    #footer-sep-one{
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
    }
    #footer-about{
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
        text-align: center;
        width: 80%;
        margin-left: 10%;
        margin-top: 50px;
    }
    #footer-sep-two{
        -webkit-box-ordinal-group: 4;
        -moz-box-ordinal-group: 4;
        -ms-flex-order: 4;
        -webkit-order: 4;
        order: 4;
    }
    #footer-about h2{
        font-size: 30pt;
        font-weight: 300;
    }
    #footer-about p{
        font-size: 18pt;
    }

    #footer-join{
        -webkit-box-ordinal-group: 3;
        -moz-box-ordinal-group: 3;
        -ms-flex-order: 3;
        -webkit-order: 3;
        order: 3;
        text-align: center;
    }
    #footer-join h2{
        font-size: 30pt;
        font-weight: 300;
    }

    #footer-download-app{
        /*display: flex;*/
        /*width: 100%;*/
        padding-top: 5%;
        /*text-align: center;*/
    }
    #footer-download-app ul{
        margin: 0;
        padding: 0;
    }
    #footer-download-app li{
        list-style-type: none;
    }
    #footer-download-app a{
        text-decoration: none;
    }
    #footer-google-play{
        height: 140px;
    }
    #footer-ios-store{
        margin-top: 5%;
        height: 140px;
    }
    #footer-social-media{
        width: 80%;
        margin-top: 10%;
        margin-left: 10%;
    }
    #footer-social-media ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    #footer-social-media li{
        display: inline;
        margin: 0 6%;
    }
    #footer-social-media a{
        text-decoration: none;
    }
    #footer-social-media img{
        height: 80px;
    }
}