<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('build/images/favicons/favicon.svg') }}" />
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,700&display=swap" rel="stylesheet">
    </head>
    <body>
        {% block body %}{% endblock %}
        {% include '_footer.html.twig' %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
